/*==================================login=============================*/
*{
	margin:0;
	padding:0;	
	box-sizing:border-box;
}
.background_log{
	background-image: url("../images/background/bg2.jpg");
	background-repeat: no-repeat;
	padding-bottom: 163px;
	padding-top: 147px;
	background-size: cover;
}
.user_log {
	width: 962px;
	height: auto;
	margin: 0 auto;
	padding: 38px;
	width: 540px;
	height: auto;
	border: 3px solid black;
	padding-bottom: 37px;
	background-image: url("../images/background/bg.jpg");
	background-repeat: round;
	position:relative;
	z-index:99;
}
.user_log h3{
	font-size:28px;
	padding-bottom: 20px;
	color:white;
}
.user_log::before {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	z-index: -1;
	opacity: .5;
}
.user_log p{
    padding-top: 19px;
}
.user_log{
	position:relative;
}
.user_log input[type="text"] {
	background-color: white;
	color: #1f1f1f;
	width: 459px;
	height: 30px;
	font-size: medium;
	border: 2px solid #7878;
	margin-left: 0px;
	margin-bottom: 20px;
}
.user_log input[type="password"] {
	background-color: white;
	color: #1f1f1f;
	width: 457px;
	height: 30px;
	font-size: medium;
	border: 2px solid #7878;
	margin-left: 3px;
}
.user_log input[type="submit"] {
	margin: 30px 10px 0px 0px;
	padding: 10px 30px;
	color: white;
	background-color: green;
	border: 1px;
	border-radius: 4px;
}
.user_log  input[type="submit"]:hover {
	background-color: #B1A222;
	border: 2px solid #f8a548;
	border: none;
}
.user_log a {
	text-decoration: none;
	margin-right: 24px;
	color: green;
}
.user_log a:hover {
	color:red;
}
/*==================================Registration=============================*/
.page-wrapper {
  min-height: 100px;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */


.bg-gra-01 {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */


.p-t-180 {
  padding-top: 55px;
}
.p-b-100 {
  padding-bottom: 55px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

/* ======================================================================= ==========================================================================
   #FORM
   ========================================================================== */
/*
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}
*/
.input-group input[type="text"],.input-group input[type="email"],.input-group input[type="password"]{
 outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}


.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input--style-3 {
  padding: 5px 20px;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}



/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 36px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-3 {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: table;
}

.card-3 .card-heading {
  background: url("../images/background/bg5.jpg") top right/cover no-repeat;
  display: table-cell;
  width: 50%;
}

.card-3 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
}

@media (max-width: 767px) {
  .card-3 {
    display: block;
  }
  .card-3 .card-heading {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-3 .card-body {
    display: block;
    width: 100%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}

