/***
Fonts
***/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

/***
========================
	   1.Default css
========================
***/

*{
	margin: 0px;
	padding: 0px;
}
body{
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	overflow-x: hidden !important;

}
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0px;
	padding: 0px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

ul,ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

img{
  max-width: 100%;
  height: auto;
}

h1{
	font-size: 52px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 25px;
}

h4{
	font-size: 20px;
}

h5,h6{
	font-size: 18px;
}

p{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.4px;
	color: #777777;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:focus,
a:active{
	text-decoration: none;
	outline: none;
}

input,
textarea{
	outline: none;
}

/***
========================
   end  Default css
========================
***/

/***
========================
	 2.Common css
========================
***/

.section-padding{
	padding: 90px 0px;
}

.section-title{
	text-align: center;
	
}

.section-title h2{
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	text-transform: capitalize;
	color: #fa3c22;
	line-height: 30px;
	margin-bottom: 20px;
	font-weight: 700;

}
.button-btn {
	padding: 8px 30px;
	color: #fff;
	background: #fa3c22;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;
	letter-spacing: 0.4px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: .4s ease;;

}
.button-btn:hover{
	color: #fff;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-50{
	margin-bottom: 50px;
}

/***
========================
     4.Header css
========================
***/

.header-area {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 111;
	min-height: 80px;
}
.header-area.navbar-fixed {
	background-color: #fff;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 111;
}

.navbar-toggler .icon-bar {
    background: #ed1c24 none repeat scroll 0 0;
}
.navbar-toggler {
    background-color: #fff;
    color: #ed1c24;
}

.navbar{
	margin-top: 0px !important;
	padding-top: 0px !important;

}

/*======select logo=====*/

.navbar-fixed .main-menu li{
	padding-top: 25px;
	padding-bottom: 10px;
}
a.logo {
    display: block;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    color: #fa3c22;
    padding-top: 15px;
    font-weight: bold;
}
.main-menu ul li{
	padding-top: 30px;
}
.main-menu ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	padding:5px 0px;
	text-transform: capitalize;
	border-bottom:2px solid transparent;
	margin:18px;
}
.main-menu li a:hover, 
.main-menu li.active a{
	position: relative;
	border:0;
	border-bottom: 2px solid #fa3c22;
	cursor:pointer;
	-webkit-transition: all 0.4s ease;
	transition:all 0.4s ease;
}

.main-menu li a:hover::after,
.main-menu li.active a::after {
	content: "";
	position: absolute;
	left: 45%;
	border-bottom: 5px solid #fa3c22;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	bottom: -1.5px;
}

.navbar-fixed .main-menu li a{
	color: #000;
	font-weight: bold;
}

.navbar-fixed .main-menu li a:hover, 
.navbar-fixed .main-menu li.active a{
    border-bottom: 2px solid #fa3c22;

}
.navbar-fixed .main-menu li a:hover::after,
.navbar-fixed .main-menu li.active a::after {
    border-bottom: 5px solid #fa3c22;
}
.navbar {
	position: fixed;
	width: 100%;
	z-index: 9999;
	-weebkit-transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
	background: transparent!important;

}

/***
========================
  end  Header area css
========================
***/

/***
========================
     5.Hero css
========================
***/

.hero-area{
	background-image: url(../images/background/header.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 600px;
	position: relative;
	z-index: 1;
}

.hero-area:before{
	content:"";
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.5);
}
.hero-area .hero-content-area{
	padding-top: 250px;
	text-align: center;
	color: #fff;
}
.hero-area .hero-content-area h1{
	font-weight: 300;
	line-height: 70px;
	margin-bottom: 30px;
}
.hero-area .hero-content-area span{
	font-weight: 700;
}

.hero-area .hero-content-area .hero-left-button{
	border: 1px solid transparent;
}
.hero-area .hero-content-area .hero-left-button:hover{
	background: none;
	color: #fff;
	border: 1px solid #fff;
  	-webkit-transition: all 0.4s ease;
  	-moz-transition: all 0.4s ease;
	transition:all 0.4s ease;
}
.hero-area .hero-content-area .hero-right-button{
	border: 1px solid #fff;
	background: transparent;
}
.hero-area .hero-content-area .hero-right-button:hover{
	background: #ed1c24;
	color: #fff;
	border: 1px solid transparent;
    -webkit-transition: all 0.4s ease;
    transition:all 0.4s ease;
}
/***
========================
 end hero area css
========================
***/

/***========================
      7.About css
========================
***/

/**/

.about .about-left-content h2{
	color: #fa3c22;
	padding-bottom: 10px;
}
.about .about-content p{
	padding: 20px 0px;

}
.about-left-content .button-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.about-right-content img{
    width: 100%;
}

/***
========================
  end  about area css
========================
***/


/*=====================
 MENU AREA CSS
=======================*/

#sahebian-food-menu {
	background: #f5fcff none repeat scroll 0 0;
}
.book-wrapper {
	position: relative;
	margin: 2% auto 0;
	width: 670px;
}

.book-cover img {
	border-radius: 5px;
	box-shadow: 0px 5px 13px #333;
}

.pages-container {
	position: absolute;
	top: 15px;
	left: 20px;
	right: 0;
	bottom: 0;
	width: 94.5%;
	height: 95%;
}

.pages [class^="page-num-"] {
	background-size: auto 100%;
	position: relative;
}

.pages-content {
	background: #fff none repeat scroll 0 0;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5%;
	z-index: 1
}

.pages-content:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/menu/food.jpg);
	z-index: -1
}

.text ul {
	margin: 0 15px;
	text-align: left;
}

.text ul li {
	margin: 3px 0;
	color: #333;
	text-transform: capitalize;
}

.text ul li span {
	float: right;
	width: 30%
}

.content-inner h2 {
	background: #fa3c22;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	line-height: normal;
	padding: 10px;
	margin: 20px 0;
}

.content-inner {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.food-menu-slider {
	display: none !important
}

.menu-slider-inner img {
	margin: 0 auto 30px;
	width: auto !important
}

.single-food-menu {
	text-align: center;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	margin: 5px 0px;
	padding: 20px;
}

.single-food-menu:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/menu/food.jpg);
	z-index: -1;
}

.menu-slider-inner h2 {
	background: #ca3d26;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	line-height: normal;
	padding: 5px;
	margin: 20px 0;
}

.food-menu-slider .owl-dots {
	text-align: center;
	margin-top: 10px;
	display: block
}

.food-menu-slider .owl-dot span {
	height: 5px;
	width: 15px;
	background: #333 none repeat scroll 0 0;
	display: inline-block;
	margin: 0 2px;
	border-radius: 3px;
}

.food-menu-slider .owl-dot.active span {
	height: 5px;
	width: 15px;
	background: #ca3d26 none repeat scroll 0 0;
	display: inline-block;
	margin: 0 2px;
	border-radius: 3px;
}
/*=========================
TABLE BOOKING AREA CSS
===========================*/

.booking-left.section_100{
    padding: 95px 0
}
.sahebian-booking-table-area {
	background: rgba(0, 0, 0, 0) url("../images/background/booking_bg.jpg") repeat fixed 0 0 / cover;
	position: relative;
	z-index: 11
}

.sahebian-booking-table-area:after {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.sahebian-booking-table-area .site-heading {
	margin: 0 0 30px 0;
}

.sahebian-booking-table-area .site-heading>p {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
	font-size: 75px;
	position: absolute;
	top: 0;
	left: -4px;
	opacity: 0.18;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=18)";
}

.booking-left .site-heading {
	text-align: left;
}

.booking-left .site-heading>h2 {
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
}

.booking-left .heading-line {
	background: #fff none repeat scroll 0 0;
	margin-bottom: 20px;
}

.booking-form p {
	margin-top: 10px;
}
/*
.booking-form input[type=file]{
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
*/
.booking-form p input {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	height: 45px;
	border-radius: 5px;
	padding: 5px 10px;
	width: 100%;
}

.booking-form p textarea {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	height: 100px
}

.booking-form p button {
	background: #fa3c22 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	border: medium none;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	cursor: pointer
}

.booking-form p button:hover {
	background: #121212 none repeat scroll 0 0;
}

.booking-right>img {
	margin-top: 220px;
	margin-left: 30px;
	max-width: 390px;
}

.datepicker {
	border: 2px solid #ca3d26;
	margin-top: -5px;
}

.datepicker .cell.day.selected,
.datepicker .cell.month.selected,
.datepicker .cell.year.selected,
.datepicker .cell.decade.selected {
	background: #ca3d26 none repeat scroll 0 0;
	color: #fff;
}

.datepicker .cell.day:hover,
.datepicker .cell.month:hover,
.datepicker .cell.year:hover,
.datepicker .cell.decade:hover {
	background: #ca3d26 none repeat scroll 0 0;
	color: #fff;
}

.popover.clockpicker-popover.bottom.clockpicker-align-left {
	border: 2px solid #ca3d26;
}

.text-primary,
.clockpicker-popover .popover-title {
	color: #ef4836;
}

.datepicker .row.header a {
	margin: 0 3px;
	cursor: pointer;
	display: block;
	text-align: center;
	width: 100%;
}

.datepicker .day {
	font-size: 14px;
	text-align: center
}

/*==========================
SIGNATURE DISH CSS
============================*/

.sahebian-signature-dish-area {
	background: #ffffff none repeat scroll 0 0;
	padding-bottom: 40px
}

.sahebian-signature-dish-area .site-heading>p {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
	font-size: 75px;
	position: absolute;
	top: -0;
	left: 29%;
	opacity: 0.08;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";
}

.single-signature {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background: #fff none repeat scroll 0 0;
	margin-bottom: 30px;
	position: relative;
}
.single-signature:after {
	content: '';
	position: absolute;
	border: 0;
	height: 2px;
	width: 0;
	left: 50%;
	bottom: 0;
	background-color: #ca3d26;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.single-signature:hover:after {
	left: 0;
	width: 100%;
}

.signature-text {
	padding: 20px;
}

.signature-text h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	line-height: normal;
	margin-bottom: 10px;
	color: #111;
	font-weight: 600;
}
.signature-text h3 a {
	color: #333
}

.signature-text h3 a:hover {
	color: #ca3d26
}

.signature-text li {
	margin: 3px 0;
	color: #333;
	text-transform: capitalize
}

.signature-text ul li span {
	float: right;
	width: 30%;
	color: #333
}

.signature-img {
	overflow: hidden;
    max-width: 350px;
    max-height: 265px;
}
.signature-img img {
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	-webkit-transform: scale(1);
	transform: scale(1);
	width: 100%
}

.single-signature:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*=======================
ORDER Area CSS
========================*/
.order-area {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../images/background/order_bg.jpg);
  z-index: 1;
  text-align: center;
  position: relative;
  padding: 70px 0px;
}

.order-area::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: -1;
}

.order-area h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: -5px;
  margin-bottom: 25px;
}

/*===========================
Reservation Modal CSS
============================*/
#orderModal .modal-dialog {
  max-width: 650px;
}

#orderModal .modal-dialog .modal-content {
  border: none;
  border-radius: 5px;
}

#orderModal .modal-dialog .modal-content .modal-header {
  padding: 25px 25px 20px;
  display: block;
  background: #fa3c22;
  position: relative;
}

#orderModal .modal-dialog .modal-content .modal-header .modal-title {
  margin-bottom: 0;
  line-height: 1;
  color: #ffffff;
  font-size: 22px;
}

#orderModal .modal-dialog .modal-content .modal-header .close {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 1;
  color: #ffffff;
}

#orderModal .modal-dialog .modal-content .modal-body {
  padding: 25px;
}

#orderModal .modal-dialog .modal-content .modal-body .modalForm {
  overflow: hidden;
}

#orderModal .modal-dialog .modal-content .modal-body .modalForm .form-control {
  padding: 4px 10px 0;
}

#orderModal .modal-dialog .modal-content .modal-body .modalForm .btn {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 1px;
  padding: 12px 30px 8px;
  margin-top: 4px;
  float: right;
  background: #fa3c22;
  border:none;
}

/*==========================
    6. EVENT AREA
*==========================*/

.event-area {
    position: relative;
    color: #212324;
}


.single-event {
    border-bottom: 1px solid #C3C3C4;
    padding: 60px 0;
    margin-top: 30px;
}

.single-event:first-child {
    padding-top: 0;
}

.single-event:last-child {
    border-bottom: 0 none;
    padding-bottom: 0;
}

.event-img {
    float: right;
    margin-left: 40px;
}

.event-content {
    padding-left: 220px;
    position: relative;
}
.event-details a{
	color: #000;
}

.event-date {
    border: 1px solid;
    font-size: 16px;
    font-weight: 700;
    height: 150px;
    left: 0;
    padding-top: 45px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 150px;
}

.event-date span {
    display: block;
    font-size: 67px;
    padding-bottom: 20px;
}

.event-details > h3 {
    font-size: 24px;
}

p.event-meta {
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
}

p.event-meta::after {
    background: #fa3c22 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}

.event-meta > a {
    color: #212324;
}

.event-meta > a:hover {
    color: #c1924c;
}

/*================================================
14 - CONTACT AREA CSS
==================================================*/

.sahebian-contact-area {
	background: #f5fcff none repeat scroll 0 0;
}

.sahebian-contact-area .site-heading>p {
	left: 27%
}

.contact-left {
	background: #fff none repeat scroll 0 0;
	padding: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 1
}
.contact-left form p {
	margin-bottom: 20px;
	position: relative
}

.contact-left form p:last-child {
	margin-bottom: 0;
}

.contact-left form p input {
	width: 100%;
	border-bottom: 2px solid #333;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding: 5px;
	font-size: 14px;
	color: #333;
	box-sizing: border-box;
	background: transparent
}

.contact-left form p textarea {
	border-bottom: 2px solid #333;
	width: 100%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-size: 14px;
	padding: 5px;
	color: #333;
	box-sizing: border-box;
	background: transparent
}

.contact-left form p button {
	background: #fa3c22 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	border: medium none;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

.contact-left form p button:hover {
	background: #121212 none repeat scroll 0 0
}

.input:focus {
	outline: none;
}


.single-contact-info h3 {
	font-family: 'Montserrat', sans-serif;
	color: #111;
	font-size: 26px;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 600;
    line-height: 40px
}

.single-contact-info h3 span {
	display: block
}

.single-contact-info {
	margin-top: 15px;
}

.info-contact-details p span {
	font-weight: 600;
	color: #333;
	width: 8%;
	display: inline-block
}

.info-contact-details p a {
	color: #333
}

.info-contact-details p a:hover {
	color: #ca3d26
}

/*================================================
15 - FOOTER AREA CSS
==================================================*/

.sahebian-footer-area {
	background: #fff none repeat scroll 0 0
}

.footer-box {
	text-align: center;
}

.social-footer {
	text-align: center;
	margin-bottom: 35px
}

.social-footer li {
	display: inline-block;
	margin: 0 11px;
}

.social-footer li a {
	font-size: 23px;
	color: #8e96bd;
}

.social-footer li a:hover {
	color: #333
}

.footer-box p {
	color: #333;
	text-transform: capitalize;
}
