*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}


h1{}
span{
	color: #e60d0d;
}
.box_bttn {
	display: inline-block;
	background-color: #e60d0d;
	color: white;
	padding: 15px 20px;
	margin: 20px 5px;
	text-transform: capitalize;
	font-size: 19px;
}
.box_bttn:hover {
	text-decoration: none;
	color: white;
	background-color: #d52020;
}

/* HEADER */



.header_area{
	color: white;
	width: 100%;
	position: fixed;
	z-index: 9999999;
	top: 0;
	background-color: #2d1616;
	background-image: url("../img/bg.jpg");
}

.header_area__scroll{
	color: white;
	width: 100%;
	position: fixed;
	z-index: 9999999;
	background-color: black;
	top: 0;
}

.header{}
.logo {
	float: left;
	padding-top: 23px !important;
    font-size: 22px;
}
.logo img{}
.content {
	float: right;
}
.menu {
	padding: 22px 0;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
	padding: 0 20px;
}
.menu ul li a{
	color: white;
	text-transform: capitalize;
}
.menu ul li a.active{
   color: #e60d0d !important; 
}
.link {
	background-color: green;
	text-transform: capitalize;
	display: inline-block;
	padding: 10px 20px;
	margin-left: 21px;
	color: white;
}
.link:hover {
	color: white;
	text-decoration: none;
	background-color: #036803;
}
.menu_link {
	margin-top: 12px;
}
.menu_link a{}
.menu_link a i{}


/*FOOTER AREA STARTED*/

.footer_area {
	background: black;
}
.footer {
	color: white;
	padding: 60px 0;
}
.footer h3 {
	font-size: 36px;
	text-transform: uppercase;
}
.footer_link {
	margin: 0 auto;
	display: block;
}
.footer_link i.fab {
	font-size: 19px;
	margin: 0 5px;
	border: 1px solid white;
	padding: 12px;
	width: 45px;
	border-radius: 45px;
}
.footer_link i.fab:hover {
	color: #e60d0d;
	border: 1px solid #e60d0d;
}
.footer p {
	text-transform: capitalize;
	margin-top: 10px;
}


/*===========================================================
					USERS VIEW
============================================================*/

.update {
    display: inline-block;
}
.update a {
	margin-left: 35px;
	padding: 11px 40px;
}
.users_view_right_posts {
	background-color: white;
	border-left: 1px solid gray;
	display: none;
}
/*.users_view_right_posts table tr{
	text-transform:capitalize;
}*/
.users_view_right_posts table tr td i.fa {
	margin-right: 20px;
	font-size: 19px;
}
.users_view_right_posts table tr td a {
	margin-right: 20px;
	font-size: 19px;
}
.users_view_right_posts table tr td a {
	background-color: #e60d0d;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
}
/*
.users_view_right_posts table tr td a:hover {
	color: #149828;
}
*/



/*===========================================================
					ADMIN VIEW
============================================================*/


.admin_view_area {
	background-color: #250808;
	border-top: 1px solid gray;
	margin-top: 68px;
	color: white;
}
.admin_view_area .users_view_left {
	margin-top: 0;
}
.admin_view_area .users_view_left ul li {
	padding: 19px;
	text-align: center;
	text-transform: capitalize;
	border: 1px solid gray;
	margin: 0 -31px;
	list-style: none;
}
/*.admin_view_area .users_view_left ul li:hover {
	background-color: #212529;
	color: white;
	border: 1px solid gray;
}*/
.admin_view_area .users_view_right_info{
	background-color: #212529;
	border-left: 1px solid gray;
}
.admin_view_area .hello_massage {
	margin-top: 0;
	padding: 40px;
	text-transform: capitalize;
	text-align: center;
}
.admin_view_area .users_view_right_info table tr td a {
	background-color: #e60d0d;
	color: white;
	padding: 7px 20px;
	text-decoration: none;
}
.admin_view_area .users_view_right_posts {
	background-color: #212529;
	border-left: 1px solid gray;
	display: none;
}
/*active css*/
.active {
	background-color: #A41A0F;
	color: white;
	border: 1px solid white;
}